@font-face {
  font-family: "Osaka";
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(/font/font.woff2) format("woff2");
}

/* body {
  font-family: Osaka !important;
} */